<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019616162586-d7i68rfbse7fv7cj5qs841sekg2oh5lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019616162586-d7i68rfbse7fv7cj5qs841sekg2oh5lu</string>
	<key>API_KEY</key>
	<string>AIzaSyC-yWZZ5LXlLFrmvjlyATZpoYMTVE7tVd4</string>
	<key>GCM_SENDER_ID</key>
	<string>1019616162586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluth</string>
	<key>PROJECT_ID</key>
	<string>tpm-app-e0be2</string>
	<key>STORAGE_BUCKET</key>
	<string>tpm-app-e0be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019616162586:ios:a5df8789ed00902c43f2a3</string>
</dict>
</plist>